# Your private key for the stress test wallet (Base Sepolia)
# MUST have ETH for gas
PRIVATE_KEY=your_private_key_here

# Firebase CRM Connection
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
